<%- include("partials/header.ejs") %>

<div class="error-section">
  <div class="overlay">
    <div class="text-content">
      <h1>Erro 404</h1>
      <p>A página que você está procurando não foi encontrada.</p>
      <a href="/" class="btn btn-primary">Voltar ao Início</a>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>