</main>

<footer>
    <div class="container-1">
        <div class="row">
            <div class="col-md-4">
                <h5><u>Contact</u></h5>
                <!--<label for="tel" class="">Phone: 9XXXX-XXXX</label>
                <label for="email" class="">Email: contact@logarte.com</label>-->
                <p>Phone: 9XXXX-XXXX</p>
                <p>Email: contact@logarte.com</p>
                <!--<a href="https://instagram.com" target="_blank" class="text-light">
                    Instagram
                </a>-->
            </div>
            <div class="col-md-4">
                <h5><u>About</u></h5>
                <p>LogArte - Your Online Art Platform</p>
                <p>&copy; LogArte <%= new Date().getFullYear() %>. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-IRYjF5Rqx5QVQfbJ9PLliRr7pgVDre9VCxtIIj9BvA7DQI/+Pl5HE/Wpg2OoW5tc" crossorigin="anonymous"></script>
</body>
</html>