<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogArte</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/main.css">
</head>

<header>
    <!--Navbar:    Categorias         Login/Registo-->
    <nav >
        <div class="container" id="filter">
          <div class="left-section">
            <!--<a href="#"><img src="img/icon.png" width="40" alt="Icon"></a>-->
            <ul class="menu">
              <li>
                <a href="/">Início</a>
              </li>
              <li  class="space">
                <a href="/artistas">Artistas</a>
              </li>
              <li>
                <a href="/categorias">Categorias</a>
              </li>
            </ul>
          </div>
          
          <!--Logo-->
          <div class="logo" >
            <a href="/"><img class="logo-size" src="../img/logo.png"  alt="Logo"></a>
          </div>

          <!--Icones Login e Carrinho-->
          <div class="icons">
            <a href="/login"><img src="../img/login1.jpg" width="25" alt="Login"></a>
            <a href="/compra"><img src="../img/carrinho.png" width="25" alt="Carrinho"></a> 
          </div>
        </div>
      </nav>
</header> 
<hr class="hr1">
<main>
