<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Home</title>
</head>
<body>
  <div class="gallery">
    <!-- Seção 1: Categoria 1 -->
    <div class="category-section">
      <h5>CATEGORIA</h5>
      <div class="category-gallery">
        <div class="gallery-item">
          <img src="/img/9.jpg" alt="Materiais de arte">
        </div>
        <div class="gallery-item">
          <img src="/img/1.jpg" alt="Pintura da ponte">
        </div>
        <div class="gallery-item">
          <img src="/img/8.jpg" alt="Pintura de papagaios">
        </div>
      </div>
    </div>
  
    <!-- Seção 2: Categoria 2 -->
    <div class="category-section">
      <h5>CATEGORIA</h5>
      <div class="category-gallery">
        <div class="gallery-item">
          <img src="/img/6.jpg" alt="Pintura de girafa">
        </div>
        <div class="gallery-item">
          <img src="/img/7.jpg" alt="Citação de arte">
        </div>
        <div class="gallery-item">
          <img src="/img/5.jpg" alt="Café e arte">
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
<%- include("partials/footer.ejs") %>
