/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 20px;
}

/* Estilo da galeria principal */
.gallery {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Customizando os Cards */
.card {
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
  z-index: 10;
  position: relative;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Preço e Descrição do Card */
.preco {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10%;
}

.descricao {
  font-size: 14px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* Botão customizado */
.btn-primary {
  background-color: #000000;
  border: none;
  padding: 10px 20px;
  margin-top: auto;
}

.btn-primary:hover {
  background-color: rgb(48, 47, 47);
}

/* Corrigindo o corte do zoom no carrossel */
.carousel-inner {
  overflow: visible;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
}

/* Estilo do Nav e Header */
nav {
  background-color: black;
}

header {
  background-color: black;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.left-section img {
  margin-right: 20px;
}

/* Logo */
.logo {
  text-align: center;
  flex-grow: 1;
}

.logo img {
  max-width: 100%;
}

.logo a {
  margin-right: 10%;
  }

.icons {
  display: flex;
  align-items: center;
}

.icons a {
  margin-right: 20px;
}

.icons img {
  width: 25px;
}

/* Menu e Submenu */
.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

.menu > li {
  margin-right: 20px;
  position: relative;
  bottom: 5px;
}

.menu a {
  background-color: white;
  text-decoration: none;
}

.menu li:hover > .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  padding: 5px 10px;
}

.submenu a {
  background-color: white;
  text-decoration: none;
}

/* Inversão de cor para ícones com fundo transparente */
#filter {
  filter: invert(1);
  background-color: transparent;
}

/* Linha horizontal */
hr {
  background-color: gray;
  padding-top: 2px;
  margin-top: 5px;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
  bottom: 0;
}

/* Responsividade */
@media (max-width: 660px) {
  .container {
      flex-direction: column;
  }

  .logo {
      min-width: 300px;
  }
}

/* LOGIN - Estilo da página de login */
.container-login {
  display: flex;
  height: 100vh;
  padding: 0;
}

.lado-esquerdo,
.lado-direito {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.imagem {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.linha {
  background-color: black;
  padding-top: 3px;
  margin-bottom: 20px;
}

.login {
  width: 100%;
  max-width: 400px;
  padding-top: 30px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10%;
}

.login input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-login button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}

.button-login button:hover {
  background-color: rgb(48, 47, 47);
}

.registar {
  margin-top: 30px;
  text-align: center;
}

.registar a {
  color: #007bff;
  text-decoration: none;
}

/* REGISTO - Estilo da página de registo */
.container-registo {
  display: flex;
  height: 100vh;
  padding: 0;
}

.lado-esquerdoR,
.lado-direitoR {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.lado-direitoR {
  padding: 100px;
  padding-top: 8%;
  margin-bottom: 50px;
  
}

.ficheiro {
  position: absolute;
  align-items: center;
  display: flex;
  margin-top: 25%;
  margin-left: 15%;
}

.foto{
  margin-bottom: 15%;
  border-radius: 50%;
}

.checkbox {
  text-align: center;
  padding-right: 100px;
  display: flex;
}

.checkbox label {
  padding-left: 50%;
  margin-right: 15px;
}

.registo {
  width: 100%;
  margin-bottom: 6%;
  padding-top: 5%;
}

.form-group {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.form-group label {
  flex-basis: 30%;
  margin-right: 10px;
}

.form-control {
  flex-basis: 65%;
}

#file-button {
  flex-direction: column;
  width: 100%;
}

.button-registo button {
  width: 30vw;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5%;
}

.button-registo button:hover {
  background-color: rgb(48, 47, 47);
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .container-login {
      flex-direction: column;
  }

  .left-side,
  .right-side {
      min-width: 100%;
      height: 50vh;
  }

  .imagem {
    display: none;
  }

  .container-registo {
      flex-direction: column;
  }

  .lado-esquerdoR,
  .lado-direitoR {
      flex-basis: 100%;
      min-height: auto;
  }

  .form-group {
      flex-direction: column;
  }

  .form-group label,
  .form-control {
      width: 100%;
      flex-basis: 100%;
  }

  .form-group label {
    margin-left: 5%;
  }

  .button-registo button {
      width: 70vw;
      margin-top: 10%;
  }

  #file-button {
    margin-top: 7%;
  }

  .foto{
    display: none;
  }

}

/* COMPRA */
.compra {
  flex-direction: column;
  align-items: start;
}

.total {
  margin-right: 120vh;
  margin-top: 2%;
}

.finalizar {
  display: flex;
  flex-direction: row;
}

.remover {
  margin-top: 15%;
}

.nome-arte {
  display: contents;
}

/* ARTE/ARTIGO */
.artigo {
  margin-left: 10%;
}

.info {
  padding-left: 8%;
}

.info h5, li {
  margin-top: 5%
}